<%- include("partials/header.ejs") -%>

    <h1>Top headlines!</h1>

    <form action="/home" method="GET">
        <h3> Filter </h3>
        <label for="country">Country:</label>
        <select name="country" id="country">
            <option value="au" <%=country==='au' ? 'selected' : '' %>>Australia</option>
            <option value="br" <%=country==='br' ? 'selected' : '' %>>Brazil</option>
            <option value="ca" <%=country==='ca' ? 'selected' : '' %>>Canada</option>
            <option value="cn" <%=country==='cn' ? 'selected' : '' %>>China</option>
            <option value="eg" <%=country==='eg' ? 'selected' : '' %>>Egypt</option>
            <option value="fr" <%=country==='fr' ? 'selected' : '' %>>France</option>
            <option value="de" <%=country==='de' ? 'selected' : '' %>>Germany</option>
            <option value="gr" <%=country==='gr' ? 'selected' : '' %>>Greece</option>
            <option value="hk" <%=country==='hk' ? 'selected' : '' %>>Hong Kong</option>
            <option value="hu" <%=country==='hu' ? 'selected' : '' %>>Hungary</option>
            <option value="in" <%=country==='in' ? 'selected' : '' %>>India</option>
            <option value="ie" <%=country==='ie' ? 'selected' : '' %>>Ireland</option>
            <option value="it" <%=country==='it' ? 'selected' : '' %>>Italy</option>
            <option value="jp" <%=country==='jp' ? 'selected' : '' %>>Japan</option>
            <option value="ru" <%=country==='ru' ? 'selected' : '' %>>Russia</option>
            <option value="sg" <%=country==='sg' ? 'selected' : '' %>>Singapore</option>
            <option value="ua" <%=country==='ua' ? 'selected' : '' %>>Ukraine</option>
            <option value="gb" <%=country==='gb' ? 'selected' : '' %>>United Kingdom</option>
            <option value="us" <%=country==='us' ? 'selected' : '' %>>United States</option>
        </select>


        <button type="submit" class="submit">Filter</button>
    </form>


    <div class="articles" id="articles-container">
        <% if(articles.length !=0){ %>
            <% articles.forEach(article=> { %>
                <div class="news-card">
                    <img src="<%= article.image %>" alt="news-image" class="news-image">
                    <h2 class="news-title">
                        <%= article.title %>
                            </h3>
                            <p class="news-description">
                                <%= article.description || "No description available." %>
                            </p>
                            <a href="<%= article.url %>" target="_blank" class="read-more">Read More</a>
                </div>
                <% }); %>
                    <% } else { %>
                        <h1>No results found :(</h1>
                        <% } %>

    </div>

    <%- include("partials/footer.ejs") -%>