<%- include("partials/header.ejs") -%>

<h1>Top headlines!</h1>

<form action="/home" method="GET">
    <h3> Filter </h3>
    <label for="country">Country:</label>
    <select name="country" id="country">
        <option value="au">Australia</option>
        <option value="br">Brazil</option>
        <option value="ca">Canada</option>
        <option value="cn">China</option>
        <option value="eg">Egypt</option>
        <option value="fr">France</option>
        <option value="de">Germany</option>
        <option value="gr">Greece</option>
        <option value="hk">Hong Kong</option>
        <option value="hu">Hungary</option>
        <option value="in">India</option>
        <option value="ie">Ireland</option>
        <option value="it">Italy</option>
        <option value="jp">Japan</option>
        <option value="ru">Russia</option>
        <option value="sg">Singapore</option>
        <option value="ua">Ukraine</option>
        <option value="gb">United Kingdom</option>
        <option value="us" selected>United States</option>
    </select>

    <button type="submit" class="submit">Filter</button>
</form>


<div class="articles" id="articles-container">
    <% if(articles.length != 0){ %> 
        <% articles.forEach(article => { %>
        <div class="news-card">
            <img src="<%= article.image %>" alt="news-image" class="news-image">
            <h2 class="news-title"><%= article.title %></h3>
            <p class="news-description"><%= article.description || "No description available." %></p>
            <a href="<%= article.url %>" target="_blank" class="read-more">Read More</a>
        </div>
    <% }); %>
    <% } else { %>
     <h1>No results found :(</h1>
    <% } %>
    
</div>

<%- include("partials/footer.ejs") -%>